@charset "UTF-8";

@layer properties {
  :root {
    color-scheme: light dark;

  /*
   * General design tokens
   * Base token in raw format.
   * Global token with value.
  */

    --color-metal: oklch(0.75 0 0);
    --color-tan: oklch(0.88 0.01 93.58);
    --color-dark_clay: oklch(0.37 0.01 31.09);

    --color-red_violet: oklch(0.55335 0.2217 349.67);
    --color-yellow_digital: oklch(86.055% 0.17305 91.942);
    --color-powder_blue: oklch(0.90293 0.06231 187.421);
    --color-bubblegum_pink: oklch(0.7 0.19 350);
    --color-soft_orange: oklch(0.75 0.15 55);
    --color-internet_blue: oklch(0.52617 0.26402 263.603);
    --color-deep_yellow: oklch(0.81453 0.16585 79.812);

  /*
   * Opal’s design token system
   * Alias token and component-specific token.
  */

    --font-family-fallback: system-ui, sans-serif, arial;
    --font-family-sans: 'InterVariable', 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-display: 'InterDisplay';
    --font-family-serif: 'TrajanPro', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-family-mono: 'GeistMono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-style-roman: normal;
    --font-style-italic: italic;

    --font-feature-settings: 'liga' 1, 'calt' 1; /* Fix for Chrome */

    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-42: 2.625rem;
    --font-size-48: 3rem;
    --font-size-54: 3.375rem;
    --font-size-60: 3.75rem;
    --font-size-68: 4.25rem;
    --font-size-76: 4.75rem;
    --font-size-84: 5.25rem;
    --font-size-92: 5.75rem;

    --font-weight-thin: 100;
    --font-weight-ultralight: 200;
    --font-weight-ligth: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-ultrabold: 800;
    --font-weight-black: 900;

    --font-leading-tightest: 0.86;
    --font-leading-normal: 1;
    --font-leading-very-compact: 1.1;
    --font-leading-compact: 1.2;
    --font-leading-tight: 1.3;
    --font-leading-common: 1.5;
    --font-leading-relaxed: 1.75;
    --font-leading-loose: 2;

    --font-tracking-: -0.2em;
    --font-tracking-: -0.16em;
    --font-tracking-: -0.12em;
    --font-tracking-: -0.04em;
    --font-tracking-common: -0.01em;
    --font-tracking-normal: 0em;
    --font-tracking-: 0.01em;
    --font-tracking-: 0.04em;
    --font-tracking-: 0.08em;
    --font-tracking-: 0.12em;
    --font-tracking-: 0.16em;
    --font-tracking-: 0.2em;

    --global-scrollbar-buffer: 15px;
    --header-height: 64px;

    --spacing-sat: env(safe-area-inset-top, 0px);
    --spacing-sar: env(safe-area-inset-right, 0px);
    --spacing-sab: env(safe-area-inset-bottom, 0px);
    --spacing-sal: env(safe-area-inset-left, 0px);
    --spacing-01: 2px;
    --spacing-02: 4px;
    --spacing-03: 8px;
    --spacing-04: 12px;
    --spacing-05: 16px;
    --spacing-06: 24px;
    --spacing-07: 32px;
    --spacing-08: 40px;
    --spacing-09: 48px;
    --spacing-10: 64px;
    --spacing-11: 80px;
    --spacing-12: 96px;
    --spacing-13: 160px;

    --space-01: 0.25rem;
    --space-02: 0.5rem;
    --space-04: 1rem;
    --space-08: 2rem;
    --space-16: 4rem;

    --radius-small: 4px;
    --radius-default: 8px;
    --radius-medium: 16px;
    --radius-large: 32px;
    --radius-full: 9999px;

    --z-negative: -1;
    --z-base: 0;
    --z-normal: 1;
    --z-dropdown-underlay-backdrop: 5;
    --z-header: 10;
    --z-footer: 10;
    --z-overlay-low: 15;
    --z-overlay-medium: 20;
    --z-dropdown-underlay: 25;
    --z-dropdown-backdrop: 50;
    --z-dropdown: 100;
    --z-sticky: 200;
    --z-modal: 300;
    --z-popover: 400;
    --z-tooltip: 500;

    --border-width-x1: 1px;
    --border-width-x2: 2px;
    --border-width-x4: 4px;

    --aspect-anamophic: 2.39/1;
    --aspect-univisium: 2/1;
    --aspect-widescreen: 16/9;
    --aspect-landscape: 3/2;
    --aspect-portrait: 2/3;
    --aspect-square: 1;

    --breakpoint-sm: 320px;
    --breakpoint-md: 672px;
    --breakpoint-lg: 1056px;
    --breakpoint-xl: 1312px;
    --breakpoint-xxl: 1584px;

    --focus-regular: blur(24px);
    --focus-prominent: blur(40px);

    --opacity-regular: 10px;
    --opacity-clear: 0px;

    --saturation-min: saturation(0);
    --saturation-med: saturation(1);
    --saturation-max: saturation(1.12);

    --brightness-min: brightness(0);
    --brightness-med: brightness(.7);
    --brightness-max: brightness(1);

    --ease-default: cubic-bezier(0.25, 0.1, 0.25, 1);
    --in-1: cubic-bezier(0.47, 0, 0.745, 0.715);
    --out-1: cubic-bezier(0.39, 0.575, 0.565, 1);
    --in-out-1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --in-2: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --out-2: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --in-out-2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --in-3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --out-3: cubic-bezier(0.215, 0.61, 0.355, 1);
    --in-out-3: cubic-bezier(0.645, 0.045, 0.355, 1);
    --in-4: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --out-4: cubic-bezier(0.165, 0.84, 0.44, 1);
    --in-out-4: cubic-bezier(0.77, 0, 0.175, 1);
    --in-5: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --out-5: cubic-bezier(0.23, 1, 0.32, 1);
    --in-out-5: cubic-bezier(0.86, 0, 0.07, 1);
    --in-6: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --out-6: cubic-bezier(0.19, 1, 0.22, 1);
    --in-out-6: cubic-bezier(1, 0, 0, 1);

    --easing-ease-out: cubic-bezier(0, 0, 0.40, 1);
    --easing-ease-in: cubic-bezier(0.50, 0, 1, 1);
    --easing-ease-in-out: cubic-bezier(0.45, 0, 0.40, 1);

    --duration-micro-x1: 100ms;
    --duration-micro-x2: 160ms;
    --duration-micro-x3: 190ms;
    --duration-micro-x4: 220ms;

    --duration-macro-x1: 250ms;
    --duration-macro-x2: 300ms;
    --duration-macro-x3: 350ms;
    --duration-macro-x4: 400ms;
    --duration-macro-x5: 450ms;
    --duration-macro-x6: 500ms;

    --page-rendered-wait: var(--duration-micro-x2);
    --page-transition-time: var(--duration-micro-x3);
    --slider-transition-time: var(--duration-macro-x3);
    --hover-transition-time: var(--duration-micro-x2);
    --animate-pulse: pulse 2s var(--easing-ease-in-out) infinite;
    --animate-blink: blink 2s var(--easing-ease-in-out) infinite;

    --ring-inset: 0px;
    --ring-offset: 1px;
    --width-ring-offset: 2px;
  }

  @media screen and (prefers-color-scheme: light) {
    :root {
      --background-primary: oklch(0.99 0 0); /* Blanco quirurgico background */
      --background-secondary: oklch(0.95 0 0); /* Gris muy claro para paneles */
      --background-tertiary: oklch(0.90 0 0);

      --text-primary: oklch(0.15 0 0); /* Casi negro, alto contraste */
      --text-secondary: oklch(0.45 0 0); /* Gris técnico medio */
      --text-tertiary: ;

      --accent: oklch(0.65 0.22 45);
      --accent-hover: oklch(0.55 0.22 45);

      --success: ;
      --info: ;
      --danger: ;
      --warning: ;

      --overlay: ;

      --separator-opaque: oklch(0.85 0 0);
      --separator-translucent: oklch(0 0 0 / 0.1);

      --focus: var(--accent);
      --focus-alt: oklch(0 0 0);
      --ring-offset: var(--background-primary);

      --skeleton: oklch(0.5883 0.0174 67.48);

      --label-primary: oklch(0.22 0 0); /* for standard label */
      --label-primary-active: oklch(0.99 0 0); /* for standard label active */
      --label-primary-controls: oklch(37.15% 0.00004 271.152); /* for standard label on accent */
      --label-primary-controls: var(--color-black); /* for standard label on accent */
      --label-secondary: var(--color-); /* for descriptive label like footnotes and subtitles */
      --label-tertiary: oklch(35.926% 0.01374 285.653 / 0.3); /* for inactive elements, and only when label doesn’t need high legibility */

      --fill-primary: ;
      --fill-secondary: ;
      --fill-tertiary: ;
      --fill-border: ;

      --button-primary-background: transparent;
      --button-primary-hover-background: oklch(69.304% 0.1968 24.755);
      --button-primary-label: oklch(0.173 0 0);
      --button-primary-hover-label: oklch(69.304% 0.1968 24.755);

      --button-secondary-background: transparent;
      --button-secondary-hover-background: ;
      --button-secondary-label: ;
      --button-secondary-hover-label: ;
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --background-primary: oklch(0.5018 0.0181 67.4);
      --background-secondary: oklch(0.18 0 0);
      --background-tertiary: oklch(0.22 0 0);

      --text-primary: oklch(0.173 0 0);
      --text-secondary: oklch(0.8738 0.0108 106.62);
      --text-tertiary: oklch(0.5883 0.0174 67.48);

      --accent: oklch(0.70 0.22 45);
      --accent-hover: oklch(0.80 0.22 45);

      --success: ;
      --info: ;
      --danger: ;
      --warning: ;

      --overlay: ;

      --separator-opaque: oklch(0.25 0 0);
      --separator-translucent: oklch(1 1 1 / 0.1);

      --focus: var(--accent);
      --ring-offset: var(--background-primary);

      --skeleton: oklch(0.5883 0.0174 67.48);
    }
  }

  @media (prefers-reduced-transparency) {
    :root {
      --separator-translucent: var(--separator-opaque);
    }
  }
}
