---
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/structure/PageHeader.astro';
import Anchor from '@components/Anchor.astro';
import Button from '@components/Button.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../types/consts';

const {
  title = 'About',
} = Astro.props;
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PageHeader title={title} />

  <section class="collection--module">
    
    <article class="module--hero">
      <audio loop="" src="/audio/beats.aac"></audio>
      <p class="description">Building better business with an individual approach to each client with a wide range of services.<br />I'm available for freelance work and collaborations. Whether you have a project in mind or just want to say hello, feel free to reach out!</p>
      <Anchor wide="fit" class="badge audio_trigger" href="https://contra.com/marcelrojas">Explore my services</Anchor>
    </article>

    <article class="module--cv">
      <h1 class="title">Curriculum</h1>
      <p class="description">Location Venezuela<br />Languages Spanish, English<br />Skillset Development, Design and Strategy</p>
      <Button role="button" wide="fit" class="badge">Open</Button>
    </article>

  </section>

</Layout>

<style>
  .collection--module {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .module--hero {

      & audio {
        display: none;
      }

      & h1.title {
        padding-bottom: 22px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: var(--tracking-common);
      }

      & .button {
        margin-top: 15px;
        height: 40px;
        background-color: var(--color-yellow-digital);
        padding-inline: 1.25rem;
        font-size: 16px;
      }

    }

    & > article.[class*="module--"] {
      min-height: var(--min-height);
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: var(--padding-top);
      text-align: center;
      border-bottom: 1px solid var(--color-border-default);

      & > h1.title {
        font-size: 32px;
        font-weight: var(--font-weight-semibold);
        line-height: 40px;
      }

      & > p.description {
        padding-bottom: 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: var(--color-grey1);
      }

      & > .badge {
        margin-bottom: 1.75rem;
        display: inline-flex;
        height: 32px;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        background-color: var(--color-yellow-digital);
        padding-inline: 1.25rem; /* px-5 */
        font-size: 14px;
      }

    }

  }

  /* Mobile Screen */
  @media screen and (width <= 768px) {

    article.[class*="module--"] {
      --padding-top: 46px;
      --min-height: 376px;

      & > .badge {
        margin-bottom: 2rem;
      }

    }

  }

  /* Desktop Screen */
  @media screen and (width <= 1024px) {

    h1.title {
      line-height: 50px;
    }

    p.description {
      padding-bottom: 18px;
      font-size: 16px;
    }

    .badge {
      margin-bottom: 46px;
      height: 40px;
      font-size: 16px;
    }

  }
</style>
