---
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/structure/PageHeader.astro';
import Anchor from '@components/Anchor.astro';

const {
  title = 'Resources',
  description = 'Learn how to improve your skills and become who you want to be.',
} = Astro.props;
---

<Layout title={title} description={description}>
  <PageHeader title={title} />

  <section class="tags">
    <p>Explore my resources for guides, tutorials, and tools to help you succeed.</p>

    <ul>
      <li><a href="/resources/guide1">Guide 1</a></li>
      <li><a href="/resources/tutorial1">Tutorial 1</a></li>
      <li><a href="/resources/tool1">Tool 1</a></li>
    </ul>
  </section>

  <section class="product-showcase">
    <h2>Featured products</h2>

    <div class="collection--module">

      <article class="module--">
        <h1 class="title">Title</h1>
        <p class="description">Description</p>
        <a class="badge" href="/">Now $99</a>
      </article>

      <article class="module--">
        <h1 class="title">Title</h1>
        <p class="description">Description</p>
        <a class="badge" href="/">$299</a>
      </article>

      <article class="module--">
        <h1 class="title">Composer</h1>
        <p class="description">CLI text <i>Composer</i>.</p>
        <a class="badge" href="/composer/">FOSS!</a>
      </article>

      <article class="module--">
        <h1 class="title">Title</h1>
        <p class="description">Description.</p>
        <Anchor class="badge" href="/">$299</Anchor>
      </article>

    </div>

  </section>

</Layout>

<style>
  .collection--module {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:not(:last-child) > article.[class*="module--"] {
      border-right: 1px solid var(--color-border-default);
    }

    &:is(:first-child, :last-child) > article.[class*="module--"] {
      width: 100%;
    }

    &:not(:first-child):not(:last-child) > article.[class*="module--"] {
      width: 50%;
    }

    & > article.[class*="module--"] {
      min-height: var(--min-height);
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: var(--padding-top);
      text-align: center;
      border-bottom: 1px solid var(--color-border-default);

      & > h1.title {
        font-size: 32px;
        font-weight: var(--font-weight-semibold);
        line-height: 40px;
      }

      & > .description {
        padding-bottom: 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: var(--color-grey1);
      }

      & > .badge {
        margin-bottom: 1.75rem;
        display: inline-flex;
        height: 32px;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        background-color: var(--color-yellow-digital);
        padding-inline: 1.25rem; /* px-5 */
        font-size: 14px;
      }

    }

  }
</style>
