---
import Clock from '@components/decorators/Clock.svelte';
import Logo from '@components/Logo.astro';
import NavBar from '@components/structure/NavBar.astro';
---

<header id="header">
  <div class="content">
    <Clock client:only="svelte" />
    <Logo />
    <NavBar />
  </div>
</header>

<style is:global>
  @layer components {
    header#header {
      position: relative;
      z-index: 40;
      padding-left: calc(var(--spacing-sal) + 22px);
      padding-right: calc(var(--spacing-sar) + 22px);

      & div.content {
        position: relative;
        overflow: clip;
        padding-top: calc(var(--spacing-sat) + var(--spacing-06));
        padding-bottom: var(--spacing-08);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a" "b" "c c";
        grid-row-gap: 10px;

        & > :first-child { grid-area: a }
        & > :nth-child(2) { grid-area: b }
        & > :nth-child(3) { grid-area: c }
      }
    }
  }
</style>
