---
const anchors = [
  { href: "/", text: "About" },
  { href: "/services", text: "Services" },
  { href: "/showcase", text: "Showcase" },
  { href: "/resources", text: "Resources" },
];
---

<nav id="haptic-nav" class="navbar" aria-label="Main">
  <ul>
    {anchors.map(link => (
      <li>
        <a href={link.href}>{link.text}</a>
      </li>
    ))}
  </ul>
</nav>

<style is:global>
  @layer components {

    nav.navbar {
      position: relative;
      height: min-content;

      & > ul {
        position: relative;
        display: flex;
        flex-flow: row;
        gap: var(--spacing-04);

        & > li {
          position: relative;
          width: fit-content;

          & > a {
            font-family: var(--font-family-sans);
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-medium);
            text-transform: lowercase;
            color: var(--label-primary);
            transition: color var(--duration-macro-x2) ease-in-out;

            @media (hover: hover) {

              &:hover {
                color: var(--label-primary-active);
              }

            }

          }

        }

      }

    }

  }
</style>
