---
import Anchor from '@components/Anchor.astro';

const anchors = [
  { href: "/", text: "About" },
  { href: "/services", text: "Services" },
  { href: "/showcase", text: "Showcase" },
  { href: "/resources", text: "Resources" },
];
---

<nav id="haptic-nav" class="navbar" aria-label="Main">
  <ul>
    {anchors.map(link => (
      <li>
        <Anchor variant="gui1" size="large" href={link.href}>{link.text}</Anchor>
      </li>
    ))}
  </ul>
</nav>

<style is:global>
  @layer components {
    nav.navbar {
      position: relative;
      height: min-content;

      & > ul {
        position: relative;
        display: flex;
        flex-flow: row;
        gap: var(--spacing-04);

        & > li {
          position: relative;
          width: fit-content;

          & > a {
            font-weight: var(--font-weight-medium);
            text-transform: lowercase;
          }
        }
      }
    }
  }
</style>
