---
import Icon from '@components/Icon.astro';
import articles from '@data/articles.json';
---

<section id="section-featured" role="feed" aria-busy="false" aria-label="List of articles and publications">
  <div class="content">
    <h2>As featured in</h2>
    <ol>
      {
        Object.values(articles).map((article) => (
          <li>
            <a href={article.url} target="_blank" rel="noopener noreferrer">
              <span class="headline">{article.title}</span>
              <Icon name="arrow-up-right" />
            </a>
            <span class="publisher">Published by: <a href={article.publisherURL} target="_blank" rel="noopener noreferrer">{article.publisher}</a></span>
          </li>
        ))
      }
    </ol>
  </div>
</section>

<style is:global>
  section#section-featured {
    position: relative;
    padding-top: var(--spacing-11);
    padding-bottom: var(--spacing-11);
    & > div.content {
      max-width: 980px;
      padding-inline-start: max(var(--spacing-sal) + 22px);
      padding-inline-end: max(var(--spacing-sar) + 22px);
      margin-left: auto;
      margin-right: auto;
      & > h2 {
        margin-bottom: var(--spacing-10);
        margin-left: var(--spacing-04);
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-32);
        line-height: var(--font-leading-tight);
        color: var(--label-primary);
      }
      & > ol {
        padding: var(--spacing-03);
        gap: var(--spacing-03);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        background-color: oklch(94.611% 0.00011 271.152);
        & > li {
          position: relative;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          padding: 24px;
          border-radius: 24px;
          background-color: var(--background-primary);
          will-change: opacity, transform;
          user-select: none;
          @starting-style {
            opacity: 0;
            transform: translateY(20px)
          }
          &:focus-visible {
            outline: 2px solid var(--color-focus);
            outline-offset: 2px
          }
          & > a {
            padding-bottom: var(--spacing-04);
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 1px solid oklch(0.87 0.01 0);
            @media (hover: hover) {
              &:hover {
                background-color: oklch(0.97 0.01 84.37)
              }
            }
            & > span.headline {
              max-width: 300px;
              font-family: var(--font-family-sans);
              font-weight: var(--font-weight-semibold);
              font-size: var(--font-size-20);
              line-height: var(--line-height-24);
              line-clamp: 3;
              box-orient: vertical;
              color: var(--color-label-primary)
            }
          }
          & > span.publisher {
            margin-top: 12px;
            font-family: var(--font-family-sans);
            font-weight: var(--font-weight-medium);
            font-size: var(--font-size-12);
            line-height: var(--font-leading-tight);
            line-clamp: 1;
            color: var(--color-label-secondary)
          }
        }
      }
    }
    @media screen (max-width: 768px) {
      ul {
        --gap: 16px
      }
    }
    @media screen (min-width: 768px) {
      ul {
        --gap: 24px
      }
    }
  }
</style>