---
interface Props {
  id: string;
  isActive?: boolean;
  class?: string;
}

const { id, isActive = false, class: className, ...rest } = Astro.props;
const labelId = `${id}-label`;
---

<button
  class:list={["shape", { active: isActive }]}
  type="button"
  aria-labelledby={labelId}
  aria-current={isActive ? "true" : undefined}
>
  <slot />
</button>

<style is:global>
  @layer components {
    button.chamfer-button-container {
      --btn-shape-height: var(--chamfer-btn-height, 24px);
      --btn-color-idle: var(--chamfer-btn-idle, #8f857d);
      --btn-color-active: var(--chamfer-btn-active, #e3e3dc);
      --btn-color-hover: var(--chamfer-btn-hover, #d1d1ca);
      --btn-text-color: var(--chamfer-text-color, #000000);

      width: fit-content;
      height: var(--btn-shape-height);
      background-color: var(--btn-color-idle);
      clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 0 100%);

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 4px;

      font-family: var(--font-family-sans);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-12);
      color: var(--btn-text-color);
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover {
        background-color: var(--btn-color-hover);
      }

      &:active {

      }

      &:focus-visible {
        outline: 2px solid var(--btn-text-color);
        outline-offset: 4px;
      }
    }
  }
</style>
