<div id="logo" aria-hidden="true">
  <span>Marcel</span>
  <span>Rojas</span>
</div>

<style is:global>
  @layer properties {
    #logo {
      position: relative;
      align-self: self-end;
      max-width: min-content;
      font-family: var(--font-family-serif);
      font-size: var(--font-size-28);
      line-height: var(--font-leading-tightest);
      letter-spacing: var(--font-tracking-common);
      text-align: right;
      text-transform: uppercase;
      text-anchor: middle;
      color: var(--separator-translucent);
    }
  }
</style>
