---
import type { MarkdownHeading } from 'astro';
import Anchor from '@components/Anchor.astro';

interface Props {
  headings: MarkdownHeading[]; // Recibe los encabezados extraídos por Astro
  srOnlyHeading?: boolean;    // Oculta el encabezado visualmente, por defecto false
  variant?: 'page' |'article'; // Define el diseño, por defecto 'page'
  class?: string;              // Permite pasar clases extra desde el padre
}

const {
  headings = [],
  srOnlyHeading = false,
  variant = 'page',
  class: className = ''
} = Astro.props;

const maxDepth = variant === 'page' ? 2 : 3;

const filteredHeadings = headings.filter(
  (heading) => heading.depth >= 2 && heading.depth <= maxDepth
);
---

<aside id="sidebar-toc" class:list={['toc-wrapper', `toc-wrapper--${variant}`, className]}>
  <nav class="table-of-contents" aria-labelledby="toc-heading">
    <h3 id="toc-heading" class:list={['table-of-contents__heading', { 'sr-only': srOnlyHeading }]}>Tabla de contenidos</h3>

    {filteredHeadings.length > 0 && (
      <ol class="table-of-contents__list">
        {filteredHeadings.map((heading) => (
          <li class={`depth-${heading.depth}`}>
            <Anchor href={`#${heading.slug}`}>{heading.text}</Anchor>
          </li>
        ))}
      </ol>
    )}
  </nav>
</aside>

<style is:global>
  aside#sidebar-toc {
    direction: ltr;
    vertical-align: baseline;
    width: stretch;

    & nav.table-of-contents {

      & > h3.table-of-contents__heading {
        margin-bottom: 1rem;
      }

      & > ol.table-of-contents__list {
        column-count: 2;
        column-gap: 2rem;

        & > li {
          margin-bottom: 0.5rem;
          break-inside: avoid;
        }

        & li.depth-3 {
          padding-left: 1rem;
        }
      }
    }
  }

  /* --- VARIANTE 1: PÁGINA (Páginas principales) --- */
  aside.toc-wrapper--page {
    padding: 1.5rem;
    border: 1px solid #eaeaea;

    & ol.table-of-contents__list {
      column-count: 1;

      & li {
        padding-bottom: 0.5rem;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  /* --- VARIANTE 2: ARTÍCULO (Dos columnas) --- */
  aside.toc-wrapper--article {
    margin-top: 32px;

    & ol.table-of-contents__list {
      column-count: 2;
      column-gap: 2rem;
    }
  }
</style>
